{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <section id="container_game">

        <img src="{{ asset('images/elements/tree.svg') }}" alt="sakura" class="sakura">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f1">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f2">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f3">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f4">

        <h1><span style="color: #BC383D; font-size: 1.5em;">Hagakure</span> , le jeu de cartes des samouraïs</h1>
        <div id="b_game">
            <div class="bg">
                <video width="100%" height="100%" muted autoplay loop>
                    <source src="{{ asset('video/Gameiyo.mp4') }}" type="video/mp4" />
                </video>
                <div class="button">
                    <a href="#"><button>Jouer</button></a>
                    <div class="button_border"></div>
                </div>
            </div>
        </div>

    </section>

    <section id="hagakure">
        <div>
            <h2>Hagakure ?</h2>
            <p>Venez jouer au nouveau jeu Hagakure ! Vous allez adorer ce jeu basé sur les valeurs du bushido ! Incarnez un garçon de l’académie Tokugawa et battez vous pour vous départager de votre ennemi juré afin de devenir l’apprenti du plus grand samouraï du Japon ! Contre un ami ou l’ordinateur, vous ne verrez pas le temps passer dessus !</p>
        </div>
        <img src="{{ asset('images/elements/sam_bleu_fin.png') }}" alt="samourai">
    </section>

    <section id="affrontez">
        <h2>Affrontez les meilleurs joueurs !</h2>

        <article>

            <div>
                <img src="{{ asset('images/icons/pictostrat.svg') }}" alt="pictostrat">
                <p>Développez vos propres stratégies</p>
            </div>

            <div>
                <img src="{{ asset('images/icons/pictoranking.svg') }}" alt="pictostrat">
                <p>Progressez dans le classement</p>
            </div>

            <div>
                <img src="{{ asset('images/icons/pictogift.svg') }}" alt="pictostrat">
                <p>Gagnez des éléments de personnalisation</p>
            </div>

        </article>

    </section>
{% endblock %}
