{% extends 'base.html.twig' %}

{% block body %}
    <section id="container_game">
        <img src="{{ asset('images/elements/tree.svg') }}" alt="sakura" class="sakura">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f1">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f2">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f3">
        <img src="{{ asset('images/elements/flower.svg') }}" alt="flower" class="flower f4">

        <h1>Les règles de Hagakure en vidéo</h1>
        <div id="b_game">
            <div class="bg"></div>
        </div>

    </section>

    <section id="regles">
        <h2>Les règles </h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quia amet repudiandae ex id recusandae minima sunt tempora incidunt magnam deserunt laborum voluptatibus accusantium earum tempore esse quae, perferendis officia!
            <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate nemo dolor autem consectetur reprehenderit consequuntur quod inventore esse, amet veniam velit quibusdam delectus error eius modi! Sed, in molestias.
        </p>
    </section>
{% endblock %}
