<div class="partieadverse">
    <div class="mainadversaire">
        {% for card in adversaire.handCards %}
             <img src="{{ asset('img_carte_centre/dos.png') }}">
        {% endfor %}
    </div>
    <div class="actionadversaire">
        {% if adversaire.actions.SECRET == false %}
            <img src="{{ asset('images/game/jetons/secret.png') }}">
        {% else %}
            <img class="actionj2nondisponible" src="{{ asset('images/game/jetons/secret.png') }}">
        {% endif %}
        {% if adversaire.actions.DEPOT == false %}
            <img src="{{ asset('images/game/jetons/depot.png') }}">
        {% else %}
            <img class="actionj2nondisponible" src="{{ asset('images/game/jetons/depot.png') }}">
        {% endif %}
        {% if adversaire.actions.OFFRE == false %}
            <img src="{{ asset('images/game/jetons/offre.png') }}">
        {% else %}
            <img class="actionj2nondisponible" src="{{ asset('images/game/jetons/offre.png') }}">
        {% endif %}
        {% if adversaire.actions.ECHANGE == false %}
            <img src="{{ asset('images/game/jetons/echange.png') }}">
        {% else %}
            <img class="actionj2nondisponible" src="{{ asset('images/game/jetons/echange.png') }}">
        {% endif %}
    </div>
</div>
<div class="plateaucentral">
    <div class="col-8 cartesvalides">
        <div class="cartebienveillance rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Bienveillance' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="cartejustice rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Justice' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="cartesincerite rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Sincérité' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="carteloyaute rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Loyauté' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="carterespect rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Respect' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="cartecourage rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Courage' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="cartehonneur rangecarte cartesadversaire">
            {% for card in adversaire.board %}
                {% if cards[card].name =='Honneur' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="cartecentrale">
        {% for i in 1..7 %}
            <div>
                <img src="{{ asset('img_carte_centre/image'~ i ~'.png' ) }}">
            </div>
        {% endfor %}
    </div>

    <div class="col-8 cartesvalides">
        <div class="cartebienveillance rangecarte">
        {% for card in moi.board %}
            {% if cards[card].name =='Bienveillance' %}
                    <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                {% endif %}
            {% endfor %}
        </div>
        <div class="cartejustice rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Justice' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="cartesincerite rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Sincérité' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="carteloyaute rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Loyauté' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="carterespect rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Respect' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="cartecourage rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Courage' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
        <div class="cartehonneur rangecarte">
            {% for card in moi.board %}
                {% if cards[card].name =='Honneur' %}
                        <img class="{{ cards[card].id }}" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
                    {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="moimain">
    {% for card in moi.handCards %}
        <div class="cartespan">
        <img class="{{ cards[card].id }} macarte" src="{{ asset('img_carte_jeu/'~cards[card].picture) }}">
            <div class="invisibleinput">
                <input type="radio" name="carte_secret" value="{{ card }}"
                       class="choixSecret">
                <input type="checkbox" name="carte_depot" value="{{ card }}"
                       class="choixDepot">
                <input type="checkbox" name="carte_offre" value="{{ card }}"
                       class="choixOffre">
                <input type="checkbox" name="carte_echange" value="{{ card }}"
                    class="choixEchange">
            </div>
        </div>
    {% endfor %}
</div>

<div class="action actionperso">
    {% if moi.actions.SECRET == false %}
        <img src="{{ asset('images/game/jetons/secret.png') }}" id="secret"  alt="Bouton secret">
    {% else %}
        <img class="actionj1nondisponible" src="{{ asset('images/game/jetons/secret.png') }}" alt="Bouton secret">
    {% endif %}
    {% if moi.actions.DEPOT == false %}
        <img src="{{ asset('images/game/jetons/depot.png') }}" id="depot"  alt="Bouton dépot">
    {% else %}
        <img class="actionj1nondisponible" src="{{ asset('images/game/jetons/depot.png') }}" alt="Bouton dépot">
    {% endif %}
    {% if moi.actions.OFFRE == false %}
        <img src="{{ asset('images/game/jetons/offre.png') }}" id="offre"  alt="Bouton Offre">
    {% else %}
        <img class="actionj1nondisponible" src="{{ asset('images/game/jetons/offre.png') }}" alt="Bouton Offre">
    {% endif %}
    {% if moi.actions.ECHANGE == false %}
        <img src="{{ asset('images/game/jetons/echange.png') }}" id="echange"  alt="Bouton échange">
    {% else %}
        <img class="actionj1nondisponible" src="{{ asset('images/game/jetons/echange.png') }}" alt="Bouton échange">
    {% endif %}
</div>
<button id="valider" style="display: none;" >Valider</button>

<div class="echangePop" style="display: none">
    <h4>Choisissez un premier groupe de deux cartes :</h4>
    <div class="flex-echange-prop">
        <div class="grp-1">
            <div class="cartechoisiesechange premiergroupe" style="margin-right: 20px"></div>
            <div class="cartechoisiesechange premiergroupe"></div>
        </div>
        <div class="grp-2">
            <div class="deuxiemegroupe" style="margin-right: 20px;"></div>
            <div class="deuxiemegroupe"></div>
        </div>
    </div>
    <div>
        <button id="selectpremierdouble">Valider ce doublon</button>
    </div>
    <div class="validerenvoiechange">
        <button style="display: none;" id="validerdouble">Envoyer l'offre</button>
        <p>N'oubliez pas d'appuyer sur valider pour finir votre tour.</p>
    </div>
</div>

{% if adversaire.actions.OFFRE != false  %}
    {% if adversaire.actions.OFFRE.cartesInitiales != [] %}
        {% if adversaire.actions.OFFRE.cartesAdversaire == [] %}
            <div class="popup-offre">
                <div class="overlay">
                    <div class="contenu-pop-interne">
                        <h4>Choissisez une carte :</h4>
                        <div class="flexcarteselect">
                        {% for card in adversaire.actions.OFFRE.cartesInitiales %}
                            <div class="carteselectoffre">
                                <img src=" {{ asset('img_carte_jeu/'~cards[card].picture) }}" alt="Carte n°{{ cards[card].id }}">
                                <br>
                                <input type="radio" name="cartechoisieoffre" value="{{ card }}">
                            </div>
                        {% endfor %}
                        </div>
                        <br>
                        <button class="col-2" id="validoffre">Valider mon choix</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}


{% if adversaire.actions.ECHANGE != false  %}
    {% if adversaire.actions.ECHANGE.cartesInitiales != [] %}
        {% if adversaire.actions.ECHANGE.cartesAdversaire == [] %}
            <div class="popup-echange">
                <div class="overlay">
                    <div class="contenu-pop-interne">
                        <h4>Choisissez un groupe de cartes :</h4>
                        <div class="flex-echange-doubles">
                            <div class="groupe1 groups">
                                {% for card in adversaire.actions.ECHANGE.cartesInitiales.premierdouble %}
                                        <div class="carte">
                                            <img src=" {{ asset('img_carte_jeu/'~cards[card].picture) }}" alt="Carte n°{{ cards[card].id }}">
                                        </div>
                                {% endfor %}
                                <input style="display: none" type="radio" name="carteschoisiesechange" value="groupe1">
                            </div>
                            <div class="groupe2 groups">
                                {% for card in adversaire.actions.ECHANGE.cartesInitiales.deuxiemedouble %}
                                    <div class="carte">
                                        <img src=" {{ asset('img_carte_jeu/'~cards[card].picture) }}" alt="Carte n°{{ cards[card].id }}">
                                    </div>
                                {% endfor %}
                                <input style="display: none" type="radio" name="carteschoisiesechange" value="groupe2">
                            </div>
                        </div>
                        <button class="col-2" id="validechange">Valider mon choix</button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

<div id="ecranfinj1" style="display: none">
    <div class="overlay">
        <div class="jeuinterne">
    {% if app.user.id == game.user1.id %}
        <h4>VICTOIRE</h4>
        <div class="flex-fin">
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user1.pseudo }}</p><p class="scorej1"></p></div>
            <div class="colomn-flex-mid"> - </div>
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user2.pseudo }}</p><p class="scorej2"></p></div>
        </div>
        <p class="scorej1"></p> - <p class="scorej2"></p>
    {% elseif app.user.id != game.user1.id %}
        <h4>DÉFAITE</h4>
        <div class="flex-fin">
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user1.pseudo }}</p><p class="scorej1"></p></div>
            <div class="colomn-flex-mid"> - </div>
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user2.pseudo }}</p><p class="scorej2"></p></div>
        </div>
    {% endif %}
            <a href="{{ path('user_profil') }}">Retour au profil</a>
        </div>
    </div>
</div>

<div id="ecranfinj2" style="display: none">
    <div class="overlay">
        <div class="jeuinterne">
    {% if app.user.id == game.user1.id %}
        <h4>DEFAITE</h4>
        <div class="flex-fin">
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user1.pseudo }}</p><p class="scorej1"></p></div>
            <div class="colomn-flex-mid"> - </div>
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user2.pseudo }}</p><p class="scorej2"></p></div>
        </div>
    {% elseif app.user.id != game.user1.id %}
        <h4>VICTOIRE</h4>
        <div class="flex-fin">
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user1.pseudo }}</p><p class="scorej1"></p></div>
            <div class="colomn-flex-mid"> - </div>
            <div class="colomn-flex"><p class="utilisateurname">{{ game.user2.pseudo }}</p><p class="scorej2"></p></div>
        </div>
    {% endif %}
            <a href="{{ path('user_profil') }}">Retour au profil</a>
        </div>
    </div>
</div>

<div id="ecrannewround" style="display: none">
    <div class="overlay">
        <div class="jeuinterne">
            <h4>ÉGALITÉ</h4>
            <div class="flex-fin">
                <div class="colomn-flex"><p class="utilisateurname">{{ game.user1.pseudo }}</p><p class="scorej1"></p></div>
                <div class="colomn-flex-mid"> - </div>
                <div class="colomn-flex"><p class="utilisateurname">{{ game.user2.pseudo }}</p><p class="scorej2"></p></div>
            </div>
            <a href="#">Round suivant !</a>
        </div>
    </div>
</div>