{% extends 'base.html.twig' %}

{% block body %}
<div id="plateau">
{{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
</div>

<div id="message">...</div>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
<script>
  let boucle
  $(document).ready(function(){
    boucle = setInterval(refreshGame, 3000);
    console.log('On démarre la boucle')
  })

  function refreshGame() {
    $.ajax({
      url: "{{ path('get_tour', {game: game.id}) }}",
      success: function(data) {
        console.log(data)
        if (data == false) {
          $('#message').html('Tour de votre adversaire')
          $('.action button').prop("disabled",true);
        } else {
          $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
          $('#message').html('C\'est mon tour...')
          clearInterval(boucle)
          console.log('On arrete la boucle')
        }
      },
      error: function(){

      }
    })
  }

  let action
    $(document).on('click', '#secret', function(){
      console.log('secret')
      action = 'secret' //mémorise l'action en cours
      $('.choixSecret').show()
      $('#valider').show()
    })

    $(document).on('click', '#depot', function(){
      console.log('depot')
      action = 'depot' //mémorise l'action en cours
      $('.choixDepot').show()
      $('#valider').show()
    })

    $(document).on('click', '#offre', function(){
      console.log('offre')
      action = 'offre' //mémorise l'action en cours
      $('.choixOffre').show()
      $('#valider').show()
    })

    $(document).on('click', '#valider', function(){
      if ( ($("input[type=radio]:checked").length > 0) || ($("input.choixDepot[type=checkbox]:checked").length == 2) || ($("input.choixOffre[type=checkbox]:checked").length == 3)  ) {
        var event = 'clicked';
        switch (action) {
          case 'secret':
              donneesAction = {
                action: 'secret',
                carte: $('input[name="carte_secret"]:checked').val()
              }
            break;
          case 'depot':
            var depot = [];
              $.each($("input[name='carte_depot']:checked"), function(){
                depot.push($(this).val());
              });
              console.log(depot[0])
            donneesAction = {
              action: 'depot',
              carte1: depot[0],
              carte2 : depot[1]
            }
            break;
          case 'offre':
            var offre = [];
            $.each($("input[name='carte_offre']:checked"), function(){
              offre.push($(this).val());
            });
            console.log(offre[0])
            donneesAction = {
              action: 'offre',
              carte1: offre[0],
              carte2 : offre[1],
              carte3 : offre[2],
            }
            break;
          case 'echange':

            break;
        }

        console.log(event);

        $.ajax({
          url: "{{ path('change_tour', {game: game.id}) }}",
          data: 'event=' + event ,
          method: 'POST',
          success: function(data) {
            if (data == true){
              boucle = setInterval(refreshGame, 3000);
              console.log('On remet la boucle');
            }
          },
          error: function(){
            console.log('Il y a un problème')
          }
        })
      $.ajax({
          url: "{{ path('action_game', {game: game.id}) }}",
          data: donneesAction,
          method: 'POST',
          success: function(data) {
              $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}");
              $('.action button').attr('disabled','disabled');
          },
          error: function(){

          }
      })
      }else{
        alert('Vous n\'avez pas sélectionné de carte !');
      }
    })
</script>
{% endblock %}
