<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Nunito:wght@200;300;400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% endblock %}

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}

    {% endblock %}
</head>
<body>
{# <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Jeu</strong>
            </a>
            <span class="text-white">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Bonjour {{ app.user.firstName }}. <a href="{{ path('app_logout') }}">Me déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Me connecter</a>
                {% endif %}
                    </span>
        </div>
    </div>
</header> #}
<header>
    <nav>
        <ul>
            <li><a href="{{ path('default') }}">Accueil</a></li>
            <li><a href="#">Le jeu</a></li>
            <li><a href="{{ path('regles') }}">Règles</a></li>
        </ul>
        <img src="{{ asset('images/logo_hagakure.png') }}">
        <ul>
            <li><a href="{{ path('app_register') }}">Inscription</a></li>
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    {% block body %}{% endblock %}
</main>
<footer>
    <div>
        <nav>
            <ul>
                <li><a href="{{ path('default') }}" class="link_out">Accueil</a></li>
                <li><a href="{{ path('regles') }}" class="link_out">Règles</a></li>
                <li><a href="{{ path('app_register') }}" class="link_out">Inscription</a></li>
                <li><a href="{{ path('app_login') }}" class="link_out">Connexion</a></li>
                <li><a href="">Retour en haut de la page</a></li>
            </ul>
        </nav>
    </div>
    <div class="second_footer">
        <a href="mailto:hagakure.gameiyo@gmail.com">Contactez-nous : contact@gmail.com</a>
        <a href="">Mentions légales - CGV</a>
    </div>
    <div class="img_footer">
        <a href="https://twitter.com/HagakureGame" target="_blank"><img src="{{ asset('images/logo_rs/logo_twitter.png') }}" alt="Twitter"></a>
        <a href="https://www.instagram.com/hagakure.gameiyo/?hl=fr" target="_blank"><img src="{{ asset('images/logo_rs/logo_insta.png') }}" alt="Instagram"></a>
        <a href="https://www.youtube.com/channel/UCrUpdMCz--XcBt2WkGv98zQ" target="_blank"><img src="{{ asset('images/logo_rs/logo_yt.png') }}" alt="Youtube"></a>
    </div>
</footer>
</body>
</html>
