{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/deux.css') }}"> <!--LINK TO THE CSS-->
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section id="MaCarte">
        <h2>Ma carte de samouraï</h2>
        <div class="container_carte">
            <div class="img_profil">
                <img src="{{ asset('images/rond.png') }}" alt="Photo de profil">
                <p>Changez votre image de <br>profil en cliquant dessus</p>
            </div>
            <div>
                <div class="pseudo">
                    <img src="" alt="">
                    <h3>Porki</h3>
                    <p>(Vous ne pouvez changer de pseudo)</p>
                </div>
                <div>
                    <div class="informations_about">
                        <div class="informations">
                            <div>
                                <p>Nom: <span class="actualinfo" id="lastnameinfo">{{ user.lastName }}</span></p>
                                <div class="modification" id="lastnamemodif" style="display: none;"><input id="inputlastname" type="text" value="Gaurier"></div>
                            </div>
                            <a href=""><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                        <div class="informations">
                            <div>
                                <p>Prénom: <span class="actualinfo" id="firstnameinfo">{{ user.firstName }}</span></p>
                                <div class="modification" id="firstnamemodif" style="display: none;"><input id="inputfirstname" type="text" value="Domnin"></div>
                            </div>
                            <a href=""><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                        <p class="informations">Age: 22ans</p>
                        <div class="informations">
                            <div>
                                <p>Genre: <span class="actualinfo" id="genderinfo">{{ user.gender }}</span></p>
                                <div class="modification" id="gendermodif" style="display: none;">
                                    <select name="inputgender" id="inputgender">
                                        {% if user.gender == 'male' %}
                                            <option value="male">Homme</option>
                                            <option value="female">Femme</option>
                                            <option value="undef">Non défini</option>
                                        {% elseif user.gender == 'female' %}
                                            <option value="female">Femme</option>
                                            <option value="male">Homme</option>
                                            <option value="undef">Non défini</option>
                                        {% else %}
                                            <option value="undef">Non défini</option>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <a href=""><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                    </div>
                    <div>
                        <div class="informations">
                            <div>
                                <p>Email: <span class="actualinfo" id="email"> {{ user.email }}</span></p>
                                <div class="modification" id="mailmodif" style="display: none;"><input id="inputmail" type="email" value=""></div>
                            </div>
                            <a href=""><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                        <div class="informations">
                            <div>
                                <p>Mot de passe:</p>
                                <div class="modification" id="pwdmodif" style="display: none;"><input id="inputpwd" type="pwd" value=""></div>
                            </div>
                            <a href=""><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="MesRecompenses">
        <h2>Mes récompenses</h2>
        <div class="container_recompenses">
            <div>
                <img src="{{ asset('images/pictogamewin.svg') }}" alt="Coupe victoire">
                <h3>30</h3>
                <p>Parties gagnées</p>
                <div>
                    <img src="{{ asset('images/pictolose.svg') }}" alt="Main qui tient un drapeau">
                    <h3>26</h3>
                    <p>Parties perdues</p>
                </div>
                <div>
                    <img src="{{ asset('images/pictotime.svg') }}" alt="Sablier">
                    <h3>15h00</h3>
                    <p>Temps de jeu</p>
                </div>
                <div>
                    <img src="{{ asset('images/pictovaleurs.svg') }}" alt="Cartes du jeu">
                    <h3>182</h3>
                    <p>Valeurs obtenues</p>
                </div>
            </div>
        </div>
    </section>
    {# <h1>Bonjour {{ user.firstName }}</h1>
    <!--<img src="{{ asset('img_avatar/'~ user.avatar) }}" alt="image de profil du joueur">-->
    <h2>Vos informations personnelles :</h2>
    <p>Email :<span class="actualinfo" id="email"> {{ user.email }}</span> </p>
    <p>Nom : <span class="actualinfo" id="lastnameinfo">{{ user.lastName }}</span></p> <button id="lastname">Modifier</button> <div class="modification" id="lastnamemodif" style="display: none;"><input id="inputlastname" type="text" value="{{ user.lastName }}"></div>
    <p>Prénom : <span class="actualinfo" id="firstnameinfo">{{ user.firstName }}</span></p> <button id="firstname">Modifier</button><div class="modification" id="firstnamemodif" style="display: none;"><input id="inputfirstname" type="text" value="{{ user.firstName }}"></div>
    <p>Genre : <span class="actualinfo" id="genderinfo">{{ user.gender }}</span></p> <button id="gender">Modifier</button><div class="modification" id="gendermodif" style="display: none;">
    <select name="inputgender" id="inputgender">
        {% if user.gender == 'male' %}
            <option value="male">Homme</option>
            <option value="female">Femme</option>
            <option value="undef">Non défini</option>
        {% elseif user.gender == 'female' %}
            <option value="female">Femme</option>
            <option value="male">Homme</option>
            <option value="undef">Non défini</option>
        {% else %}
            <option value="undef">Non défini</option>
            <option value="male">male</option>
            <option value="female">female</option>
        {% endif %}
    </select></div>
    <p>Date de naissance : <span class="actualinfo" id="birthdayinfo">{{ user.birthday|date("d/m/Y") }}</span></p> <button id="birthday">Modifier</button><div class="modification" id="birthdaymodif" style="display: none;"><input id="inputbirthday" type="date" value="{{ user.birthday|date('d/m/Y') }}"></div>
    <button id="valider" style="display: none;">Sauvegarder mes changements</button>
    <p class="reponse" id="reponse" style="display: none;"></p>
    <p>Vos parties</p>
    <br>

    {% for games in playedgames %}
        {% for infogame in games|sort|reverse %}
            <div>
                <p>Partie n°{{ infogame.id }}</p>
                {% if infogame.user1.id == user.id %}
                    <p>{{ user.firstName }} {{ user.lastName }} CONTRE {{ infogame.user2.firstName }} {{ infogame.user2.firstName }}</p>
                {% else %}
                    <p>{{ user.firstName }} {{ user.lastName }} CONTRE {{ infogame.user1.firstName }} {{ infogame.user1.firstName }}</p>
                {% endif %}
                <span>{{ infogame.created|date("Y-m-d H:i:s") }}</span>
                {% if infogame.winner != NULL %}
                    <span> - {{ infogame.ended|date("Y-m-d H:i:s") }}</span>
                    <p>Le joueur {{ infogame.winner.firstName }} a gagné !</p>
                {% else %}
                    <p>Partie non terminée !</p><a href="{{ path('show_game',{game: infogame.id})}}">Rejoindre dès maintenant !</a>
                {% endif %}
            </div>
            <br>
        {% endfor %}
    {% endfor %}
    #}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '#lastname', function(){
            console.log('lastname');
            $(this).hide();
            $('#lastnameinfo').hide();
            $('#lastnamemodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#firstname', function(){
            console.log('firstname');
            $(this).hide();
            $('#firstnameinfo').hide();
            $('#firstnamemodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#gender', function(){
            console.log('gender');
            $(this).hide();
            $('#genderinfo').hide();
            $('#gendermodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#birthday', function(){
            console.log('birthday');
            $(this).hide();
            $('#birthdayinfo').hide();
            $('#birthdaymodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#valider', function(){
            console.log('envoie de la requete ajax');
            var lastname = $('#inputlastname').val();
            var firstname = $('#inputfirstname').val();
            var gender = $('#inputgender').val();
            var birthday = $('#inputbirthday').val();
            var donnesModif = {lastname:lastname, firstname:firstname, gender:gender, birthday:birthday};
            // REQUETE AJAX A VOIR
            console.log(lastname);
            $.ajax({
                url: "{{ path('info_modif') }}",
                data: donnesModif,
                method: 'POST',
                success: function() {
                    console.log('C\'est passé');
                    $('.modification').hide();
                    $('.actualinfo').show();
                    $('#valider').hide();
                    $('#reponse').show();
                    document.location.reload();
                    $('#reponse').html('Données mises à jour !');
                },
                error: function(){
                    console.log('C\'est pas passé');
                    $('#reponse').show();
                    $('#reponse').html('Une erreur c\'est produite !')
                }
            })
        })
    </script>
{% endblock %}
