{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/deux.css') }}"> <!--LINK TO THE CSS-->
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section id="MaCarte">
        <h2>Ma carte de samouraï</h2>
        <div class="container_carte">
            <div class="img_profil">
                <img src="{{ asset('avatar/'~user.avatar) }}" alt="Photo de profil">
                <p>Changez votre image de <br>profil en cliquant dessus</p>
            </div>
            <div>
                <div class="pseudo">
                    <img src="{{ asset('lvl_images/level.svg') }}" alt="">
                    <h3>{{ user.pseudo }}</h3>
                </div>
                <div>
                    <div class="informations_about">
                        <div class="informations">
                            <div>
                                <p>Nom: <br><span class="actualinfo" id="lastnameinfo">{{ user.lastName }}</span> <div class="modification" id="lastnamemodif" style="display: none;"><input id="inputlastname" type="text" value="{{ user.lastName }}"></div></p>
                            </div>
                            <a><img id="lastname" src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                        <div class="informations">
                            <div>
                                <p>Prénom: <span class="actualinfo" id="firstnameinfo">{{ user.firstName }}</span><div class="modification" id="firstnamemodif" style="display: none;"><input id="inputfirstname" type="text" value="Domnin"></div></p>

                            </div>
                            <a><img id="firstname" src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                        <p class="informations">Age: <br> 22ans</p>
                        <div class="informations">
                            <div>
                                <p>Genre: <br> <span class="actualinfo" id="genderinfo">
                                        {% if user.gender == 'male' %}
                                            Homme
                                        {% elseif user.gender == 'female' %}
                                            Femme
                                        {% elseif user.gender == 'undef'%}
                                            Non-Binaire
                                        {% endif %}
                                    </span><div class="modification" id="gendermodif" style="display: none;">
                                    <select name="inputgender" id="inputgender">
                                        {% if user.gender == 'male' %}
                                            <option value="male">Homme</option>
                                            <option value="female">Femme</option>
                                            <option value="undef">Non défini</option>
                                        {% elseif user.gender == 'female' %}
                                            <option value="female">Femme</option>
                                            <option value="male">Homme</option>
                                            <option value="undef">Non défini</option>
                                        {% else %}
                                            <option value="undef">Non défini</option>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        {% endif %}
                                    </select>
                                </div></p>
                            </div>
                            <a><img id="gender" src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                    </div>
                    <div>
                        <div class="informations">
                            <div>
                                <p>Email: <span class="actualinfo" id="email"> {{ user.email }}</span></p>
                            </div>
                            <a></a>
                        </div>
                        <div class="informations">
                            <div>
                                <p>Mot de passe:</p>
                                <div class="modification" id="pwdmodif" style="display: none;"><input id="inputpwd" type="pwd" value=""></div>
                            </div>
                            <a><img src="{{ asset('images/settings.png') }}" alt="engrenages parametres"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="valider" style="display: none;">Sauvegarder mes changements</button>
    </section>


    <section id="MesRecompenses">
        <h2>Mes récompenses</h2>
        <div class="container_recompenses">
                <div>
                <img src="{{ asset('images/pictogamewin.svg') }}" alt="Coupe victoire">
                <h3>30</h3>
                <p>Parties gagnées</p>
                </div>
                <div>
                    <img src="{{ asset('images/pictolose.svg') }}" alt="Main qui tient un drapeau">
                    <h3>26</h3>
                    <p>Parties perdues</p>
                </div>
                <div>
                    <img src="{{ asset('images/pictotime.svg') }}" alt="Sablier">
                    <h3>15h00</h3>
                    <p>Temps de jeu</p>
                </div>
                <div>
                    <img src="{{ asset('images/pictovaleurs.svg') }}" alt="Cartes du jeu">
                    <h3>182</h3>
                    <p>Valeurs obtenues</p>
                </div>
            </div>
        </div>
    </section>
    <section id="historique">
        <p>Vos parties</p>
        <br>
        {% for games in playedgames %}
            {% for infogame in games|sort|reverse %}
                <div>
                    <p>Partie n°{{ infogame.id }}</p>
                    {% if infogame.user1.id == user.id %}
                        <p>{{ user.firstName }} {{ user.lastName }} CONTRE {{ infogame.user2.firstName }} {{ infogame.user2.firstName }}</p>
                    {% else %}
                        <p>{{ user.firstName }} {{ user.lastName }} CONTRE {{ infogame.user1.firstName }} {{ infogame.user1.firstName }}</p>
                    {% endif %}
                    <span>{{ infogame.created|date("Y-m-d H:i:s") }}</span>
                    {% if infogame.winner != NULL %}
                        <span> - {{ infogame.ended|date("Y-m-d H:i:s") }}</span>
                        <p>Le joueur {{ infogame.winner.firstName }} a gagné !</p>
                    {% else %}
                        <p>Partie non terminée !</p><a href="{{ path('show_game',{game: infogame.id})}}">Rejoindre dès maintenant !</a>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '#lastname', function(){
            console.log('lastname');
            $(this).hide();
            $('#lastnameinfo').hide();
            $('#lastnamemodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#firstname', function(){
            console.log('firstname');
            $(this).hide();
            $('#firstnameinfo').hide();
            $('#firstnamemodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#gender', function(){
            console.log('gender');
            $(this).hide();
            $('#genderinfo').hide();
            $('#gendermodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#birthday', function(){
            console.log('birthday');
            $(this).hide();
            $('#birthdayinfo').hide();
            $('#birthdaymodif').show();
            $('#valider').show();
        })

        $(document).on('click', '#valider', function(){
            console.log('envoie de la requete ajax');
            var lastname = $('#inputlastname').val();
            var firstname = $('#inputfirstname').val();
            var gender = $('#inputgender').val();
            var birthday = $('#inputbirthday').val();
            var donnesModif = {lastname:lastname, firstname:firstname, gender:gender, birthday:birthday};
            // REQUETE AJAX A VOIR
            console.log(lastname);
            $.ajax({
                url: "{{ path('info_modif') }}",
                data: donnesModif,
                method: 'POST',
                success: function() {
                    console.log('C\'est passé');
                    $('.modification').hide();
                    $('.actualinfo').show();
                    $('#valider').hide();
                    $('#reponse').show();
                    document.location.reload();
                    $('#reponse').html('Données mises à jour !');
                },
                error: function(){
                    console.log('C\'est pas passé');
                    $('#reponse').show();
                    $('#reponse').html('Une erreur c\'est produite !')
                }
            })
        })
    </script>
{% endblock %}
